button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #dcdee2;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  
    background-color: white;
    color: #515a6e;
}

[long] {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}
  

  /* default-button */
  .default-button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
  }
  
  .default-button:active {
    box-shadow: none;
  }
  
  /* primary-button */
  .primary-button {
    background-color: #19be6b;
    color: white;
  }
  
    .primary-button:hover {
      background-color: #10e090;
    }
  
    .primary-button:active {
      background-color: #19be6b;
    }